# build
.deps
build/
*.jpg
*.png
.vscode

# install
install_test
!/install/
!/install/**/include/
!/install/**/lib/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
!install/**/*.a
*.lib

# Executables
*.exe
*.out
*.app
